<% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t(".theform") %> <%= pluralize(@order.errors.count, t(".errors")) %>.
    </div>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
