<p>===============================================</p>
<p>Thank you for your recent order at fdf_33</p>

<p>Unfortunately due to some problem we have to cancel your order.</p>

<p>You can order again here: <%= link_to "Here", products_url %></p>

<p>If you have any question feel free to contact us.</p>

<p>Best regards,</p>

<p>fdf_33</p>
