<p>===============================================</p>
<p>Thank you for your recent order at fdf_33</p>

<p>You can see your order at: <%= link_to "Here", order_url(@order) %></p>

<p>We will send you another email when we finish checking your order.</p>

<p>Best regards,</p>

<p>fdf_33</p>
