<p>===============================================</p>
<p>Thank you for your recent order at fdf_33</p>

<p>You can see your order at: <%= link_to "Here", order_url(@order) %></p>

<p>We have shipped your order to your address. The package is going to arrived at your home
  30 or 60 minutes from now.</p>

<p>If you have any question feel free to contact us.</p>

<p>Best regards,</p>

<p>fdf_33</p>
