<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">  
        <div class="socials">
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
        </div>
        <div class="copyright"><span class="brand"><%= t("footer.fdf") %> </span> &copy; <%= t("footer.the") %> <span id="copyright-year"></span> <div><%= t("footer.cb") %> <a href="http://www.facebook.com/john.son.1/" rel="nofollow"><%= t("footer.son") %></a></div>
        </div>
      </div>
    </div>
  </div> 
</footer> 
